.accountContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-top: 0px;
    width: 100%;
    .accountColumn{
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-top: 1rem;
        width: 60vw;
        max-width: 25rem;
        background-color: rgb(255, 255, 255);
        border-radius: 24px 24px 0px 0px;
        padding:14px;
        box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
        @media screen and (max-width: 600px){
            width:  80vw;
            }
        .headerContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 18px; 
        }
        .inputContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 20px 0px 20px 0px;
            @media screen and (max-width: 600px){
            margin-left:0px;
            margin-right: 0px;
            width: 100%;
            }
            span{
                font-size: 14px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding:10px;
            }
            input{
                letter-spacing: inherit;
                height: 30px;
                color: black;
                border:1px solid rgb(209, 204, 204);
                outline-color: rgb(210, 63, 87,0.9);
                border-radius: 20px;
                box-sizing: content-box;
                background: none;
                margin: 0px;
                -webkit-tap-highlight-color: transparent;
                display: block;
                min-width: 0px;
                width: 100%;
                animation-name: mui-auto-fill-cancel;
                animation-duration: 10ms;
                resize: none;
                padding: 10px;
            }
        }
        .itemList{
            display: flex;
            flex-direction: column;
            height: auto;
            overflow-y: auto;
            margin-top: 20px;
            padding:1rem;
            border: 1px solid transparent;
            border-radius: 16px;
            box-sizing: border-box;
            .topContainer{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                margin: 0px 0px 10px 0px;
                .buttonStyle{
                    font-size: 13px;
                    color: rgb(80, 144, 234);
                    padding: 6px;
                    border: 1px solid rgb(80, 144, 234);
                    border-radius: 20px;
                    cursor: pointer;
                }
                .extContainer{
                    display: flex;
                    flex-direction: row;
                    padding: 10px;
                    cursor: pointer;
                    small{
                        cursor: pointer;
                        &:hover{
                           text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .learnMoreContainer{
        padding:1rem;
        border: 1px solid transparent;
        border-radius: 0px 0px 16px 16px;
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        font-weight: 400;
        font-size: 12px;
        flex-wrap: nowrap;
        margin-top: 0px;
        width: 100%;
        a{
            color:rgb(80, 144, 234);
            cursor: pointer;
        }
   }
}